<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>jspProject</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 어노테이션 방식이 아닌 XML 방식 -->
  <!-- 1. web.xml에 해당 서블릿클래스를 Servlet으로 등록하는 태그 
  <servlet>
  	<servlet-name>서블릿명</servlet-name>
  	<servlet-class>등록하고자하는 서블릿클래스 풀 명</servlet-class>
  </servlet>
  -->
  
  <servlet>
  	<servlet-name>LoginServlet</servlet-name> <!-- 서블릿명(임의대로) -->
  	<servlet-class>com.kh.member.controller.LoginServlet</servlet-class> <!-- 등록하고자하는 서블릿클래스 풀 명 -->
  </servlet>
  
  <!-- 2. 등록한 Servlet클래스를 매핑하는 태그 -->
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name> <!-- 위에서등록된 서블릿명 -->
  	<url-pattern>/login.me</url-pattern> <!-- 매핑하고자 하는 url -->
  </servlet-mapping>
  
  <!-- XML 장점 :  -->
  
  
</web-app>